<?xml version="1.0" encoding="UTF-8"?>
<suite name="example suite 1" verbose="1" >
  <test name="Regression suite 1" >
    <classes>
      <class name="TestNG.TestNG"/>
    </classes>
 </test>
 <groups>
   <define name="all">
     <include name="smokeTest"/>
     <include name="functionalTest"/>
   </define>
   
   <run>
         <include name="all" />
   </run>        
</groups>
</suite>